#alert-popover {
    background-color: rgb(236, 215, 191);
    position: fixed;
    border-radius: 20px;

    top: 25%;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
    padding: 20px;

    z-index: 10;

}

#url-input {
    width: 100%;
    margin-top: 10px;
}

h2, p {
    text-align: center;
}
