.button {
    color: white;
    border: none;
    border-radius: 50px;
    background-color: rgba(0,0,0,0);
    width: 100px;
    height: 100px;
    position: fixed;

    display: block;
    z-index: 100;
}

#selectVideo {
    padding-left: 150px;
    display: block;
    background-color: red;
}

#fb {
    background-color: #3b5998;
    bottom: 20px;
    left: 130px;
    
}

#ig {
    background-color: #cd486b;
    bottom: 20px;
    left: 20px;
}

#play {
    background-color: cadetblue;
    bottom: 20px;
    left: 240px;
}
